---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const services = await getCollection("servicios");
---

<Layout title={"servicios"}>
  <section class="grid grid-cols-1 md:grid-cols-2 bg-transparent gap-4 p-5">
    {
      services.map((service) => (
        <article class="col-span-1 justify-center  sm:col-span-1 min-w-[300px] max-w-[450px] min-h-[150px] rounded-lg bg-white p-3 border-[1px] border-red-200">
          <div class="flex items-center justify-start m-1 gap-1">
            <span class="rounded-full bg-red-200 p-2.5">
              <p>{service.data.icon}</p>
            </span>
            <h2 class="text-xl font-semibold">{service.data.title}</h2>
          </div>
          <p class="text-pretty m-1">{service.data.description}</p>
        </article>
      ))
    }
  </section>
</Layout>
