---
const { hrf } = Astro.props;
---

<a
  href={hrf}
  target="_blank"
  class="px-5 py-2.5 mx-auto my-3 rounded-full font-semibold border-[1px] transition-colors duration-300 bg-primary text-white hover:bg-white border-primary hover:text-primary"
>
  <slot />
</a>
