---
import Input from "./Input.astro";
---

<form action="" class="flex flex-col gap-2">
  <Input name="name" placeholder="Nombre" />
  <Input type="email" name="email" placeholder="email123@email.com" />
  <Input name="tel" type="number" placeholder="Telefono" />
  <textarea
    name="consulta"
    placeholder="Escribe tu consulta"
    class="resize-none px-5 py-2.5 mx-auto max-w-[500px] min-w-[300px] border-b-[1px] bg-white border-red-400 focus:border-red-500 focus:bg-white outline-none transition-all duration-300"
  ></textarea>
  <button
    type="submit"
    class="px-5 py-2.5 mx-auto my-3 bg-red-400 rounded-full text-white font-semibold hover:bg-white border-[1px] border-red-400 hover:text-red-400 transition-colors duration-300"
    >Enviar consulta</button
  >
</form>
