---
import "photoswipe/style.css";

// const images = [
//   {
//     width: 1511,
//     height: 2015,
//   },
//   {
//     width: 1511,
//     height: 2015,
//   },
//   {
//     width: 720,
//     height: 960,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 720,
//     height: 960,
//   },
//   {
//     width: 720,
//     height: 960,
//   },
//   {
//     width: 720,
//     height: 960,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 750,
//     height: 1202,
//   },
//   {
//     width: 750,
//     height: 1202,
//   },
//   {
//     width: 750,
//     height: 1194,
//   },
//   {
//     width: 1040,
//     height: 780,
//   },
//   {
//     width: 1040,
//     height: 780,
//   },
//   //   {
//   //     width: 576,
//   //     height: 892,
//   //   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 1200,
//     height: 1599,
//   },
//   {
//     width: 1536,
//     height: 2048,
//   },
//   {
//     width: 1536,
//     height: 2048,
//   },
// ];

const images = [
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 720,
    height: 522,
  },
  {
    width: 720,
    height: 522,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
  {
    width: 540,
    height: 783,
  },
];
---

<div
  class="pswp-gallery grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4"
  id="gallery"
>
  {
    Array.from({ length: 22 }, (_, i) => (
      <a
        class:list={[
          "max-h-[350px] overflow-hidden",

          images[i].width > images[i].height ? "col-span-2" : "col-span-1",
        ]}
        href={`/images/alambre${i + 1}.webp`}
        data-pswp-width={images[i].width}
        data-pswp-height={images[i].height}
        target="_blank"
      >
        <img
          src={`/images/alambre${i + 1}.webp`}
          class:list={["object-cover min-h-[261px] min-w-[180px]"]}
          loading="lazy"
          alt="Foto de trabajos de Alambres Melillo"
        />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const showGallery = () => {
    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
  };

  document.addEventListener("astro:page-load", showGallery);
</script>
