<section
  class="bg-yellow-500 my-7 rounded-xl w-full grid grid-cols-1 md:grid-cols-5 overflow-hidden"
>
  <article class="p-2 flex flex-col col-span-1 md:col-span-3 bg-green-500">
    <h1
      class="text-4xl sm:text-4xl font-semibold text-balance text-center leading-snug"
    >
      Alambrados y Cerramientos <br />
      <span class="text-red-400"> duraderos</span>
    </h1>
    <p class="text-pretty text-center text-xl mt-4">
      Especialistas en cercos, rejas, portones, mosquiteros y defensas para tu
      hogar y negocio
    </p>

    <a href="/" target="_blank" class="button mx-auto my-3"
      >Solicitar Cotización</a
    >
  </article>
  <article class="bg-blue-700 col-span-1 md:col-span-2 h-6">
    <img src="" alt="" title="" />
  </article>
</section>
