---
import { Icon } from "astro-icon/components";

const links = [
  { text: "Inicio", href: "/" },
  { text: "Servicios", href: "/servicios" },
  { text: "Contacto", href: "/contacto" },
];

const currentPath = Astro.url.pathname;
---

<nav
  class="text-md font-semibold flex justify-between items-center h-full px-3"
>
  <a href="/" class="text-lg flex items-center gap-1">
    <img
      src="/favicon.svg"
      alt="Alambrados Melillo"
      loading="eager"
      class="size-14"
    />
    <span> Alambrados Melillo </span>
  </a>
  <button id="menu-btn">
    <Icon name="menu" size="28" class="flex sm:hidden" />
  </button>
  <ul class="hidden sm:flex">
    {
      links.map(({ text, href }) => (
        <li>
          <a
            href={href}
            class:list={[
              " mx-3",
              {
                "text-red-400": currentPath === href,
              },
            ]}
          >
            {text}
          </a>
          {currentPath === href && (
            <div
              transition:name="menu-link"
              class="border-b-2 border-red-400 mx-3"
            />
          )}
        </li>
      ))
    }
  </ul>

  <script>
    document.addEventListener("astro:page-load", () => {
      const menuBtn = document.getElementById("menu-btn") as HTMLButtonElement;
      const nav = document.getElementById("xs-nav") as HTMLDivElement;
      const sidenav: NodeListOf<HTMLDivElement> =
        document.querySelectorAll("#sidenav div");
      menuBtn.addEventListener("click", () => {
        nav.classList.toggle("translate-x-full");
        sidenav.forEach((div) => div.classList.toggle("hidden"));
      });
    });
  </script>
</nav>
