---
const { hrf, target } = Astro.props;
---

<a
  href={hrf}
  target={target}
  class="px-5 py-2.5 mx-auto my-3 rounded-full font-semibold border-[1px] transition-colors duration-300 bg-white text-primary hover:border-slate-400 border-primary hover:text-slate-400"
>
  <slot />
</a>
