---
import "@/styles/global.css";
import Header from "@/scafolding/Header.astro";
import Footer from "@/scafolding/Footer.astro";
const { title, description, canonical } = Astro.props;

import { ClientRouter } from "astro:transitions";
import SEO from "@/components/SEO.astro";
import Sidenav from "@/components/Sidenav.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth scheme-only-light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self';
      style-src 'self' 'unsafe-inline';
      script-src 'self' 'unsafe-inline';
      media-src *;
      font-src *;"
    />

    <title>{`${title} - Alambrados Melillo`}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="prefetch" href="images/alambre1.webp" as="image" />
    <SEO {description} {canonical} title={`${title} - Alambrados Melillo`} />
    <ClientRouter />
  </head>
  <body class="bg-red-50 flex flex-col justify-between gap-10 items-center">
    <Header />
    <Sidenav />
    <main class="max-w-7xl min-h-screen mt-20 mx-auto w-full sm:px-5">
      <slot />
    </main>
    <Footer />
  </body>
</html>
